body {
  font-family: 'Comic Sans MS';
  background: #eee;
  color: #111;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111 linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(42, 42, 42, 1) 100%) no-repeat;
    color: #eee;
  }
}

.text-center {
  text-align: center;
}

.rainbow-text {
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  background-size: 100%;
  background-position: center center;
  background-clip: text;
  color: transparent;
  animation: rainbow_scroll 5s linear;
}

@keyframes rainbow_scroll {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
